name: Configlet Generate

on:
  pull_request:
  workflow_dispatch:

jobs:
  configlet-generate:
    runs-on: ubuntu-24.04

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Fetch configlet
        uses: exercism/github-actions/configlet-ci@main
        # GITHUB_TOKEN is not set when we run the fetch script, because we're in
        # a composite action. Set GH_TOKEN so that `gh release download` can
        # make authenticated requests (it fails otherwise).
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Generete templated docs
        run: configlet generate --update --yes

      - name: Commit generated code
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3
