name: Exercise linting with PHPCS for PSR 12

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    name: PHP ${{ matrix.php-version }} - ${{ matrix.os }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        php-version: [7.4, 8.0, 8.1]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - name: Set git line endings
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          git config --system core.autocrlf false
          git config --system core.eol lf

      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@d30ad8b1843ace22e6698ab99bbafaa747b6bd0d
        with:
          php-version: ${{ matrix.php-version }}
          extensions: gmp
          tools: composer

      - name: Install dependencies
        shell: bash
        run: |
          curl -Lo bin/phpcs.phar https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
          chmod +x bin/phpcs.phar

      - name: Install composer packages
        run: composer install

      - name: Lint exercises
        shell: bash
        run: composer lint:check
