name: Exercise linting with PHPCS for PSR 12

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    name: PHP ${{ matrix.php-version }} - ${{ matrix.os }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        php-version: [7.4, 8.0]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - name: Set git line endings
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          git config --system core.autocrlf false
          git config --system core.eol lf

      - uses: actions/checkout@v2.3.4

      - uses: shivammathur/setup-php@46fc8a2fd7cba50512858026dc8f0947c8a7a0e8
        with:
          version: ${{ matrix.php-version }}
          extensions: gmp

      - name: Install dependencies
        shell: bash
        run: |
          curl -Lo bin/phpcs.phar https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
          chmod +x bin/phpcs.phar

      - name: Lint exercises
        shell: bash
        env:
          PHPCS_BIN: 'bin/phpcs.phar'
          PHPCS_RULES: 'phpcs-php.xml'
        run: bin/lint.sh
