name: Exercise linting with PHPCS for PSR 12

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: PHPCS Linting - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        php-version: [8.4]
        os: [ubuntu-24.04]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1
        with:
          php-version: ${{ matrix.php-version }}
          extensions: gmp
          tools: composer

      - name: Install composer packages
        run: composer install --no-scripts

      - name: Lint exercises
        shell: bash
        run: composer lint:check
