name: Exercise tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    name: PHP ${{ matrix.php-version }} - ${{ matrix.os }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        php-version: [7.3, 7.4]
        os: [ubuntu-latest, windows-latest, macOS-latest]

        exclude:
          - php-version: 7.3
            os: windows-latest
          - php-version: 7.3
            os: macOS-latest

    steps:
      - name: Set git line endings
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          git config --system core.autocrlf false
          git config --system core.eol lf

      - uses: actions/checkout@v2

      - uses: shivammathur/setup-php@5d27b8f90ea9479ac7af4fcaad6b411eb19d7170
        with:
          version: ${{ matrix.php-version }}

      - name: Install dependencies
        run: make install

      - name: Lint
        run: make style-check

      - name: Test exercises
        run: make test
