name: Exercise tests with PHPUnit 10

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: PHP ${{ matrix.php-version }} - ${{ matrix.os }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        php-version: [8.1, 8.2, 8.3]
        os: [ubuntu-22.04, windows-2022, macOS-14]

    steps:
      - name: Set git line endings
        if: ${{ matrix.os == 'windows-2022' }}
        run: |
          git config --system core.autocrlf false
          git config --system core.eol lf

      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b

      - uses: shivammathur/setup-php@c665c7a15b5295c2488ac8a87af9cb806cd72198
        with:
          php-version: ${{ matrix.php-version }}
          extensions: gmp

      - name: Install dependencies
        shell: bash
        run: |
          curl -Lo ./bin/phpunit-10.phar https://phar.phpunit.de/phpunit-10.phar
          chmod +x bin/phpunit-10.phar

      - name: Test exercises
        continue-on-error: true
        shell: bash
        env:
          PHPUNIT_BIN: 'bin/phpunit-10.phar'
          XDEBUG_MODE: off
        run: bin/test.sh
