name: Exercise tests with PHPUnit 11

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: PHP ${{ matrix.php-version }} - ${{ matrix.os }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        php-version: [8.2, 8.3, 8.4]
        os: [ubuntu-24.04, windows-2022, macOS-14]

    steps:
      - name: Set git line endings
        if: ${{ matrix.os == 'windows-2022' }}
        run: |
          git config --system core.autocrlf false
          git config --system core.eol lf

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1
        with:
          php-version: ${{ matrix.php-version }}
          extensions: gmp

      - name: Install dependencies
        shell: bash
        run: |
          curl -Lo ./bin/phpunit-11.phar https://phar.phpunit.de/phpunit-11.phar
          chmod +x bin/phpunit-11.phar

      - name: Test exercises
        shell: bash
        env:
          PHPUNIT_BIN: 'bin/phpunit-11.phar'
          XDEBUG_MODE: off
        run: bin/test.sh
